<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sabrina.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBA57F1B25CD1B9800B115F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBA57F3125CD1B9900B115F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBA57F3C25CD1B9900B115F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
